<!DOCTYPE html>
<html>
<head>
  <title>Banking Application</title>
  <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}" type="text/css"/>
  <header>
    <div class="logo">
      <img src="{{url_for('static', filename='Cash_Safe.png')}}" alt="Banking Logo" sizes="40">
    </div>
    
    <div class="buttons">
      <button class="signup"><a href="{{url_for('signup')}}">Sign Up</a></button>
      
      <div class="dropdown">
        <button class="signin">Sign In &#9662;</button>
        <div class="dropdown-content">
          <a href="#TBC">Staff</a>
          <a href="{{url_for('login')}}">Customer</a>
      
        </div>
      </div>
    </div>
  </header>
  
</head>
<body>
  <h1>Cash Safe</h1>
  <span class="foreground-text">Welcome to Cash Safe, your trusted partner in secure and convenient banking. With our advanced security measures and user-friendly online platform, managing your accounts and making transactions is easy and worry-free. Our dedicated team is here to provide exceptional service and guide you through any financial needs. Whether you're looking to open an account, apply for a loan, or explore investment opportunities, Cash Safe has you covered. Join us today and experience the convenience and peace of mind that comes with banking with Cash Safe. Your financial well-being is our top priority.</span>
  
 
</body>
</html>
