<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cash Safe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post_login.css') }}">
  </head>
  <body>
    <div class="header">
      <img src="{{ url_for('static', filename='Cash_safe.png') }}" alt="Cash Safe Logo">
      <h1>Cash Safe</h1>
      <div class="transaction">
        <a href="{{ url_for('details',account_no=account_no)}}" class="transaction">Fetch Transactions</a>
      </div>
      <a href="{{ url_for('login') }}">Logout</a>
    </div>
    
    <div class="main-content">
      <h2>Balance Amount: {{ balance }}</h2>
      
      <div class="buttons">
        <a href="{{ url_for('deposit', account_no=account_no) }}" method="post">Deposit</a>
        <a href="{{ url_for('withdrawal', account_no=account_no) }}" method="post">Withdrawal</a>
        <a href="{{ url_for('transfer', account_no=account_no) }}" method="post">Transfer</a>
      </div>
    </div>
  </body>
</html>
