<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cash Safe - Deposit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='deposit.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="{{ url_for('static', filename='Cash_safe.png') }}" alt="Cash Safe Logo">
      </div>
      <h1>Cash Safe -Deposit</h1>
      
      <a href="{{ url_for('login') }}" class="logout">Logout</a>
      
    </div>
    <div class="main-content">
      <form action="{{ url_for('deposit', account_no=account_no) }}" method="post">
        <div class="amount">
          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" min="0" required>
        </div>
        <br><br>
        <div class="buttons">
          <input type="submit" value="Deposit">
          <a href="{{ url_for('post_login',account_no=account_no) }}">Back</a>
      </div>
      </form>
    </div>
  </body>
</html>
