<!DOCTYPE html>
<html>
<head>
  <title>Customer Sign In - Cash Safe</title>
  <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" type="text/css">
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="{{url_for('static', filename='Cash_Safe.png')}}" alt="Banking Logo">
      <div class="a">
        <a href="{{ url_for('dashboard')}}" class="Home">Dashboard</a>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="content">
      <p class="error">{{error}}</p>
      
      <h1 class="h1">CashSafe</h1>
      
      <form class="form" action="/login" method="POST">
        <label class="label" for="account_no">Account Number:</label>
        <input type="text" id="account_no" name="account_no" minlength="13" maxlength="13" required>
        <label class="label" for="pin">PIN:</label>
        <input type="password" id="pin" name="pin" minlength="4" maxlength="4" required>
        <button class="button" type="submit">Sign In</button>
      </form>
    </div>
  </main>
  
</body>
</html>
